
@{
    ViewData["Title"] = "OrderSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a  class="breadcrumb-item text-dark" href="/Home">Trang chủ</a>
                <span class="breadcrumb-item active"><a href="/Home/Contact" style="color: #3D464D !important">Liên hệ</a></span>
                </nav>
            </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Cart Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-12 table-responsive mb-5">
            <div class="alert alert-success" role="alert">
              Gửi phản hồi thành công, cảm ơn bạn đã đóng góp ý kiến!
            </div>
            <a type="button" class="btn btn-dark" href="/Home/Contact">Quay về</a>
        </div>
    </div>
</div>
<!-- Cart End -->
